
<button class=" btn-primary btn-lg" id="printPageButton" onClick="window.print()">Print</button>
<div class="container">
    <div class="padding">
        <div class="font">
            <div class="top">
                <img src="../../../../assets/adminAssets/images/users/Admin.png">
            </div>
            <div class="bottom">
                <p>Avinash Kumar</p>
                <!-- <p class="desi">Target NEET - E</p> -->

                <br>
                <p class="no3">Roll No - 11610765</p>
                <br>

                <p class="no3">Target NEET - E</p>
                <div class="barcode">
                    <img src="../../../../assets/adminAssets/images/aayaam logo png.png">
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="back">
        <h1 class="Details">Student Information</h1>
        <hr class="hr">
        <div class="details-info">
            <p><b>Father's Name -</b> Guman Singh </p>

            <p><b>Address -</b> Kisan Colony, Nawalgarh Road, Sikar</p>

            <p><b>Contact -</b> 9896890175 </p>
        </div>
        <br>
        <hr class="hr">
        <div class="details-info2">
            <p>1. Loss of the card should be reported
                immediately to the AAYAAM office.</p>

            <p>2. Please bring the card whenever you visit the premises.</p>

            <p>3. This card is not transferable.</p>
        </div>

        <div class="logo">
            <img src="../../../../assets/adminAssets/images/aayaam logo square.png">
        </div>


    </div>
    
</div>

