<div class="content">

  <div class="jumbotron p-4 m-4">
    <div class="container">
      <h1 class="display-4 text-danger">Exam-Cell Section</h1>

    </div>
  </div>
</div>

<div class="card m-4">
  <h2 class="card-header text-center text-success">Upload The Marks </h2>
  <div class="card-body">
    <form name="form" (ngSubmit)="f.form.valid && onClassEleventhSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label>Upload Excell file</label>
        <input type="file" name="pancard" class="form-control" (change)="on11thMarksCardSelection($event)" required>
      </div>

      <div class="text-center">
        <button class="btn btn-primary mr-1">Upload</button>
      </div>
    </form>
  </div>
</div>


<div class="jumbotron p-4 m-4">
  <div class="container">
    <h1 class="display-4 text-danger">Marks Display Board</h1>
    <p class="lead">View the marks of the students by using Roll Number and Exam Code</p>
  </div>
</div>
