<div class="content">

  <div class="jumbotron p-4 m-4">
    <div class="container">
      <h1 class="display-4 text-danger">Exam-Cell Section</h1>

    </div>
  </div>
</div>

<div class="card m-4">
  <h2 class="card-header text-center text-success">Upload The Marks </h2>
  <div class="card-body">
    <form name="form" (ngSubmit)="f.form.valid && onMarksSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label>Upload Excell file</label>
        <input type="file" name="pancard" class="form-control" (change)="onMarksSelection($event)" required>
      </div>

      <div class="text-center">
        <button class="btn btn-primary mr-1">Upload</button>
      </div>
    </form>
  </div>
</div>


<div class="jumbotron p-4 m-4">
  <div class="container">
    <h1 class="display-4 text-danger">Marks Display Board</h1>
    <p class="lead">View the marks of the students by using Roll Number and Exam Code</p>
  </div>
</div>

<div class="row">
  <div class="col-xl-12 justify-content-center align-content-center">
    <h2 class="text-center">Marks of All Students </h2>
    <div class="card-box">
      <div class="container m-3 p-2">
        <ag-grid-angular style="margin:10px;height:200px !important" class="ag-theme-alpine"
          [columnDefs]="resultListHeader" [rowData]="resultList" [pagination]="true" [paginationPageSize]="2">
        </ag-grid-angular>

      </div>


    </div>
  </div>
