<!-- Start Content-->
<div class="container-fluid">

  <!-- Small Box (Stat card) -->
  <h5 class="mb-2 mt-4"></h5>
  <div class="row">
    <div class="col-lg-3 col-6">
      <!-- small card -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>150</h3>

          <p>New Orders</p>
        </div>
        <div class="icon">
          <i class="fas fa-shopping-cart"></i>
        </div>
        <a href="#" class="small-box-footer">
          More info <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small card -->
      <div class="small-box bg-success">
        <div class="inner">
          <h3>53<sup style="font-size: 20px">%</sup></h3>

          <p>Bounce Rate</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="#" class="small-box-footer">
          More info <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small card -->
      <div class="small-box bg-warning">
        <div class="inner">
          <h3>44</h3>

          <p>User Registrations</p>
        </div>
        <div class="icon">
          <i class="fas fa-user-plus"></i>
        </div>
        <a href="#" class="small-box-footer">
          More info <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small card -->
      <div class="small-box bg-danger">
        <div class="inner">
          <h3>65</h3>

          <p>Unique Visitors</p>
        </div>
        <div class="icon">
          <i class="fas fa-chart-pie"></i>
        </div>
        <a href="#" class="small-box-footer">
          More info <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <!-- ./col -->
  </div>
  <!-- /.row -->
  <!-- end row -->

  <div class="row">
    <div class="col-xl-3 col-md-6">
      <div class="card-box widget-user">
        <div class="media">
          <div class="avatar-lg mr-3">
            <img src="../../../../assets/adminAssets/images/users/user-3.jpg" class="img-fluid rounded-circle"
              alt="user">
          </div>
          <div class="media-body overflow-hidden">
            <h5 class="mt-0 mb-1">Chadengle</h5>
            <p class="text-muted mb-2 font-13 text-truncate">coderthemes@gmail.com</p>
            <small class="text-warning"><b>Admin</b></small>
          </div>
        </div>
      </div>
    </div><!-- end col -->

    <div class="col-xl-3 col-md-6">
      <div class="card-box widget-user">
        <div class="media">
          <div class="avatar-lg mr-3">
            <img src="../../../../assets/adminAssets/images/users/user-2.jpg" class="img-fluid rounded-circle"
              alt="user">
          </div>
          <div class="media-body overflow-hidden">
            <h5 class="mt-0 mb-1"> Michael Zenaty</h5>
            <p class="text-muted mb-2 font-13 text-truncate">coderthemes@gmail.com</p>
            <small class="text-pink"><b>Support Lead</b></small>
          </div>
        </div>
      </div>
    </div><!-- end col -->

    <div class="col-xl-3 col-md-6">
      <div class="card-box widget-user">
        <div class="media">
          <div class="avatar-lg mr-3">
            <img src="../../../../assets/adminAssets/images/users/user-1.jpg" class="img-fluid rounded-circle"
              alt="user">
          </div>
          <div class="media-body overflow-hidden">
            <h5 class="mt-0 mb-1">Stillnotdavid</h5>
            <p class="text-muted mb-2 font-13 text-truncate">coderthemes@gmail.com</p>
            <small class="text-success"><b>Designer</b></small>
          </div>
        </div>
      </div>
    </div><!-- end col -->

    <div class="col-xl-3 col-md-6">
      <div class="card-box widget-user">
        <div class="media">
          <div class="avatar-lg mr-3">
            <img src="../../../../assets/adminAssets/images/users/user-10.jpg" class="img-fluid rounded-circle"
              alt="user">
          </div>
          <div class="media-body overflow-hidden">
            <h5 class="mt-0 mb-1">Tomaslau</h5>
            <p class="text-muted mb-2 font-13 text-truncate">coderthemes@gmail.com</p>
            <small class="text-info"><b>Developer</b></small>
          </div>
        </div>
      </div>
    </div><!-- end col -->

  </div>
  <!-- end row -->

<div class="row">
  <div class="col-xl-12 justify-content-center align-content-center">
    <h2 class="text-center">List of All Students </h2>
    <div class="card-box">
<div class="container m-4 p-2">
  <ag-grid-angular style="margin:10px;height:200px !important" class="ag-theme-balham" [columnDefs]="sListHeader"
    [rowData]="sList" [pagination]="true" [paginationPageSize]="2">
  </ag-grid-angular>

</div>


    </div>
  </div>





</div> <!-- container -->

